body {
    margin: 0;
    background: #07709E;
    display: flex;
    justify-content: center;
}

.login-register {
    /*margin-top: 30%;*/
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logo {
    text-align:center;
    margin-bottom: -40px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
}

.card-body {
    background: #fff;
    border-radius: 15px 15px 0 0;
    padding: 20px 20px 50px 20px;
}

.text-card-down {
    padding-bottom: 1.50px;
}

h1 {
    color: #07709E;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 30px;
}

h2 {
    font-size: 15px;
}

label {
    color: #07709E;
    font-size: 16px;
}

.btn {
    background: #81B844;
    color: white;
    height: 40px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control {
    background: #fff;
    border-radius: 10px;
    border-color: #6EB0CB;
    box-shadow: 0px 1px 3px rgba(0,0,0, 0.2);
}

.mb-0 h2 {
    color: #07709E;
    font-size: 16px;
}

.text-card-down {
    margin-top: 80px;
}

.card-body {
    font-size: 16px;
    color: #212121;
}

/*------------------- RESPONSIVE -------------------*/

@media only screen and (min-width: 576px) {
    .login-register {
        bottom: auto;
        top: 12vh;
        width: 450px;
        color: white;
    }

    .card-body {
        background: #fff;
        border-radius: 15px;
        padding: 20px;
    }
}

@media only screen and (min-width: 768px) {  
    
}
    
@media only screen and (min-width: 992px) {
 
}

@media only screen and (min-width: 1200px) {
    
}


