/*------------------- GENERAL -------------------*/

*{
    color: #212121;
    line-height: 20px;
}

#home, #services {
    /*margin-top: 56px;*/
    margin-bottom: 75px;    
}

.icons {
    color: #07709E;
    font-size: 25px;
}

.navbar-toggler {
    border: none;
}

.navbar {
    position: fixed; 
    z-index: 100;
    top: 0; 
    width: 100%; 
}

.navbar2 {
    background: #07709E;
    position: fixed; /*Fixed ya que queremos que la posici贸n sea en relaci贸n al navegador*/
    bottom: 0; /*El valor 0 indica que va a quedar arriba de todo*/
    width: 100%; /*100% para que ocupe todo el ancho del navegador*/
    margin: 0;
    padding: 0;
}

.navbar-light {
    background: #fff;
}

.nav {
    margin-top: 0;
    padding-top: 0;
}

.navbar-brand {
    font-weight: 600;
    font-size: 22px;
    
}

.cards-services {
    margin-top: 20px;
    
}

.nav-link {
    background: whte;
    padding: 0;
    padding-bottom: 10px;
}

.nav-secundary {
    padding-bottom: -10px;
    padding-top: 10px;
}

.nav-item h5 {
    font-size: 14px;
    color: #B5D4E2;
    margin: 0;
}


.btn {
    width: 100%;
    font-size: 20px;
    box-shadow: 0px 2px 6px rgba(0,0,0, 0.2);
}

.btn-green {
    background: #81B844;
    color: #fff;
    border-radius: 10px;
    height: 40px;
}


/*------------------- HOME -------------------*/
.banner-home {
    margin-top: 65px;
    position: relative;
}

#home .card {
    height: 80px;
    margin-bottom: 18px;
    box-shadow: 0px 2px 6px rgba(10, 63, 87, 0.2);
    border: none;
    border-radius: 10px;
}

#home .card-text {
    width: 75%;
}

#home .card{
  display: table;
  width: 100%;
}

#home .card > div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

/*------------------- SERVICES -------------------*/

#services .card{
    background: #F5F9FB;
    border: none;
    border-radius: 10px;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}
 
#services .img-services {
    margin: 5%;
    width: 90%;
}

.banner-services {
    margin-top: 56px;
    background: #07709E;
    height: 150px;
    padding-top: 30px;
	text-align: center;
}

.banner-services i {
    color: #fff;
    font-size: 40px;
}

.banner-services span {
    color: #fff;
    font-size: 22px;
}

#services .card-body {
    height: 100%;
    display: flex;
    align-items: center;
}



/*------------------- RESPONSIVE -------------------*/

@media only screen and (min-width: 576px) {
    #services .card{
        margin-bottom: 2%;
    }
}

@media only screen and (min-width: 768px) {
    #home .card {
        height: 150px;
        padding: 15px;
        margin-bottom: 18px;
        box-shadow: 0px 2px 6px rgba(10, 63, 87, 0.2);
        border: none;
    }

    #services .img-services {
        width: 100%;
    }

    #services {
        margin-bottom: 65px;
        height: 65vh;
        display: flex;
        align-items: center;
    }

    #home {
        display: flexbox;
    }
    
}
    
@media only screen and (min-width: 992px) {
    #services .img-services {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .container-fluid {
        padding-left: 15%;
        padding-right: 15%;
    }

    #home {
        position: absolute;
        top: 48%;
    }

    #services {
        margin-bottom: 65px;
        height: 70vh;
        display: flex;
        align-items: center;  
    }
    
}



#nav {
    background: #07709E;
    position: fixed; /*Fixed ya que queremos que la posici贸n sea en relaci贸n al navegador*/
    width: 100%; /*100% para que ocupe todo el ancho del navegador*/
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 999;
}

#nav h4 {
    text-align: center;
    margin-top: -4px;
}

#nav .whatsapp{
    text-align: right;
    margin-top: -36px;
    margin-right: 15px;
}


#nav a {
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
  }
#nav a:hover {
    opacity:0.5;
  }
ul {
    padding: 0;
    list-style-type: none;
  }
  
  
nav {
    background-color: #fff;
    height: 65px;
  }
  
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 15px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #07709E;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    height: 2px;
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    width: 90vw;
    height: 100vh;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
  

  .superior {
      display: inline-block;
  }
